Fleeter.Client/Connected Services/UserServiceProxy/users4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Fleeter.Core.Services.Results" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Fleeter.Core.Services.Results" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="tns:Status" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResult" nillable="true" type="tns:BaseResult" />
  <xs:simpleType name="Status">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ok" />
      <xs:enumeration value="Created" />
      <xs:enumeration value="Updated" />
      <xs:enumeration value="Deleted" />
      <xs:enumeration value="NotFound" />
      <xs:enumeration value="BadRequest" />
      <xs:enumeration value="InvalidCredentials" />
      <xs:enumeration value="Unauthorized" />
      <xs:enumeration value="Conflict" />
      <xs:enumeration value="InternalServerError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
</xs:schema>