Fleeter.Client/Connected Services/FleeterServiceProxy/fleeter41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/fleeter?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Fleeter.Core.Services" />
  <xs:complexType name="ArrayOfKeyValueOfdateTimeMonthCostDetailsfu0Mp_PEd">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfdateTimeMonthCostDetailsfu0Mp_PEd">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:dateTime" />
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Fleeter.Core.Services" name="Value" nillable="true" type="q1:MonthCostDetails" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfdateTimeMonthCostDetailsfu0Mp_PEd" nillable="true" type="tns:ArrayOfKeyValueOfdateTimeMonthCostDetailsfu0Mp_PEd" />
</xs:schema>