Fleeter.Client/Connected Services/FleeterServiceProxy/fleeter2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/fleeter?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Fleeter.Core.Models" />
  <xs:import schemaLocation="http://localhost:8080/fleeter?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Fleeter.Core.Services.Results" />
  <xs:element name="GetBusinessUnits">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusinessUnitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Fleeter.Core.Models" minOccurs="0" name="GetBusinessUnitsResult" nillable="true" type="q1:ArrayOfBusinessUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdateBusinessUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Fleeter.Core.Models" minOccurs="0" name="bu" nillable="true" type="q2:BusinessUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdateBusinessUnitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Fleeter.Core.Services.Results" minOccurs="0" name="CreateOrUpdateBusinessUnitResult" nillable="true" type="q3:BaseResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBusinessUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Fleeter.Core.Models" minOccurs="0" name="bu" nillable="true" type="q4:BusinessUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBusinessUnitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Fleeter.Core.Services.Results" minOccurs="0" name="DeleteBusinessUnitResult" nillable="true" type="q5:BaseResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployees">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Fleeter.Core.Models" minOccurs="0" name="GetEmployeesResult" nillable="true" type="q6:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdateEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Fleeter.Core.Models" minOccurs="0" name="e" nillable="true" type="q7:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdateEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Fleeter.Core.Services.Results" minOccurs="0" name="CreateOrUpdateEmployeeResult" nillable="true" type="q8:BaseResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Fleeter.Core.Models" minOccurs="0" name="e" nillable="true" type="q9:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Fleeter.Core.Services.Results" minOccurs="0" name="DeleteEmployeeResult" nillable="true" type="q10:BaseResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehiclesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Fleeter.Core.Models" minOccurs="0" name="GetVehiclesResult" nillable="true" type="q11:ArrayOfVehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdateVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Fleeter.Core.Models" minOccurs="0" name="v" nillable="true" type="q12:Vehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdateVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Fleeter.Core.Services.Results" minOccurs="0" name="CreateOrUpdateVehicleResult" nillable="true" type="q13:BaseResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Fleeter.Core.Models" minOccurs="0" name="v" nillable="true" type="q14:Vehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Fleeter.Core.Services.Results" minOccurs="0" name="DeleteVehicleResult" nillable="true" type="q15:BaseResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployeeRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Fleeter.Core.Models" minOccurs="0" name="r" nillable="true" type="q16:VehicleToEmployeeRelation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployeeRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Fleeter.Core.Services.Results" minOccurs="0" name="DeleteEmployeeRelationResult" nillable="true" type="q17:BaseResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEmployeeRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Fleeter.Core.Models" minOccurs="0" name="r" nillable="true" type="q18:VehicleToEmployeeRelation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEmployeeRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Fleeter.Core.Services.Results" minOccurs="0" name="CreateEmployeeRelationResult" nillable="true" type="q19:BaseResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>